<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width,initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    <title>Strategy</title>

    <link rel="shortcut icon" href="/resources/assets/default/images/gt_favicon.png">

    <link rel="stylesheet" href="/resources/assets/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/assets/default/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="/resources/assets/default/css/bootstrap-theme.css" media="screen" >
    <link rel="stylesheet" href="/resources/assets/default/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/resources/assets/default/js/html5shiv.js"></script>
    <script src="/resources/assets/default/js/respond.min.js"></script>
    <![endif]-->
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="/resources/assets/default/js/jquery-1.11.3.min.js"></script>
    <script src="/resources/assets/default/js/bootstrap.min.js"></script>
    <script src="/resources/assets/default/js/headroom.min.js"></script>
    <script src="/resources/assets/default/js/jQuery.headroom.min.js"></script>
    <script src="/resources/assets/default/js/template.js"></script>
    <!--背景浮层引入js css-->
    <script src="/resources/assets/default/js/bkground.js"></script>
    <link rel="stylesheet" href="/resources/assets/default/css/bkground.css">
    <!--分页控件引入js-->
    <script src="/resources/assets/default/js/jqPaginator.min.js"></script>
    <link rel="stylesheet" href="/resources/assets/default/css/pagination.css">

    <script type="text/javascript">
        function setFullScreen(){
            var total = document.documentElement.clientHeight;
            var colHeight = total-document.getElementById("navbar").offsetTop;
            var mainHeight = document.getElementById("main-container").offsetHeight;
            if(mainHeight<colHeight){
                document.getElementById("main-container").style.height=colHeight+"px";
            }
        };
        jQuery(document).ready(function () {
            setFullScreen();
        });
    </script>
</head>

<body class="home">
    #parse("common/header.vm")

<div class="main-container" id="main-container">
    <!--弹出层时背景层DIV-->
    <div id="fade" class="black_overlay">
    ##	<span style="font-size: 22px; color: white;">数据处理中，请稍候...</span>
    </div>
    <div id="MyDiv" class="white_content">
        <div style="text-align: right; cursor: default; height: 40px;">
            <span style="font-size: 30px;padding: 15px 23px " onclick="Close2Div('MyDiv','fade')">X</span>
        </div>
        <div id="resultMessage" style="padding:0 10px 0 10px; font-size: 16px; ">
        </div>
    </div>
    <!--弹出层时背景层DIV-->

        <!-- PAGE CONTENT BEGINS -->
        $screen_content
        <!-- PAGE CONTENT ENDS -->

    #parse("common/footer.vm")

</div><!-- /.main-container -->

</body>
</html>