<script type="text/javascript">
    function setHeadHeight(){
        var total = document.documentElement.clientHeight;
        var colHeight = total-document.getElementById("navbar").offsetTop;
        document.getElementById("head").style.height=colHeight+"px";
    };
    jQuery(document).ready(function () {
        setHeadHeight();
    });
</script>
<!-- Header -->
<header id="head">
    <div class="container">
    <div class="row">
        <h1 class="lead">策略中心</h1>
        <p class="tagline">Strategy</p>
        <p><a class="btn btn-default btn-lg" role="button" href="about">WHAT IS</a>
            <a class="btn btn-action btn-lg" role="button" href="sceneList">USE NOW</a></p>
    </div>
</div>
</header>
<!-- /Header -->

